body {
  margin: 0;
  font-family: "Dancing Script", cursive;
  background-color: #e4f9f5;
  color: rgb(46, 99, 145);
}

.top-container {
  text-align: center;
}

.profile {
  text-align: center;
  border: 0;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
}

.mountain {
  border: 2px solid black;
}

.programmer {
  text-decoration: underline;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 15px auto 0 auto;
  font-family: "Dancing Script", cursive;
}

h2 {
  color: #66bfbf;
  font-size: 2rem;
  padding-bottom: 30px;
}

.middle-container {
  font-family: Roboto, Arial;
  text-align: center; 
  margin-left: 0;
  border: 2px solid black ;
}

.introduction {
  margin-top: 25px;
  margin-bottom: 30px;
}

hr {
  border: dotted #7d8888 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills {
  padding-bottom: 20px;
}

.bottom-container {
  text-align: center;
  font-family: Roboto, Arial;
  padding: 10px;
}

footer {
  text-align: center;
  font-family: Roboto, Arial;
}